<footer class="footer">
  <div class="footer__button">
    <a href="#top" alt="Back to top" title="Back to top"> <img class="footer--button"
        src="./assets/images/ico-arrow.svg" alt="Back to top button"></a>
  </div>
  <nav>
    <ul class="articles__menu">
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">articles</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">books</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">events</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">reasons</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">tips</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="twitter__menu">
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">twitter</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">instagram</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag" target="_blanck">mastodon.social</a>
      </li>
    </ul>
  </nav>
  <small class="copy">
    <p>&copy; 2017</p>
    <span class="we">we </span>
    <span>components</span>
  </small>
</footer>