<footer class="footer">
  <div class="footer__button">
    <a href="#top" alt="Back to top" title="Back to top"> <img class="footer--button"
        src="./assets/images/ico-arrow.svg" alt="Back to top button"></a>
  </div>
  <nav>
    <ul class="articles__menu">
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">articles</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">books</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">events</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">reasons</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">tips</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="twitter__menu">
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">twitter</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">instagram</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="Go to Adalab webpag">mastodon.social</a>
      </li>
    </ul>
  </nav>
  <small>
    &copy; 2017
    <span>we <i class="fas fa-heart"></i> components</span>
  </small>
</footer>