<hero class="hero" id="top">
    <div class="hero__section">
        <h1 class="hero--title">
            <span>anonymous</span>
            <span>proxy</span>
        </h1>
        <small class="hero--text">In hac habitasse platea dictumst.</small>
        <div class="hero--button">
            <a href="#reasons" title="Go to 3 Reasons To Purchase">
                <img class="scroll--down--button" src="./assets/images/ico-scroll-down.svg" alt="scroll down button">
            </a>
        </div>
    </div>
</hero>