// fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;
$font-size: 16px;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

// colors
$color-primary: #304268;
$color-primary-light: #0271bc;
$color-secondary: #eff9ff;
$color-secondary-dark: #8ccbea;
$color-tertiary: #f26002;
$color-light: #ffffff;
$color-medium: #4a4a4a;
$color-dark: #000000;

// breakpoints

$tablet: 768px;
$desktop: 1280px;
