.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-primary;
  color: $color-light;
  position: relative;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }

  @include desktop {
    justify-content: center;
    align-content: space-around;
  }

  .footer__button {
    width: 45px;
    height: 45px;
    background-color: $color-light;
    border-radius: 22.5px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
  }

  .twitter__menu {
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 30px;
  }

  .articles__menu {
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 30px;

    @include tablet {
      margin-right: 30px;
    }

    @include desktop {
      padding-right: 90px;
    }
  }

  .articles__menu {
    margin-top: 60px;
  }

  .copy {
    margin-bottom: 45px;
    display: block;
    line-height: 30px;

    @include tablet {
      order: -1;
    }

    @include desktop {
      padding-right: 90px;
    }
  }

  .copy span {
    display: inline;
  }

  .we::after {
    content: '❤︎';
    color: $color-tertiary;
  }
}
