.tips {
  margin: 30px 15px;

  @include tablet {
    .wrapper {
      max-width: 690px;
      margin: auto;
    }
  }

  @include desktop {
    .wrapper {
      max-width: 730px;
    }
  }
  .tips__paragraph {
    font-family: $font-main;
    font-size: 1.125rem;
    font-weight: $weight-regular;
    color: $color-medium;
    line-height: 30px;
    margin-top: 15px;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  .insomnia {
    font-family: $font-main;
    font-size: 0.875rem;
    font-weight: $weight-regular;
    color: $color-secondary-dark;
    text-transform: capitalize;
    line-height: 30px;
  }

  &__title span {
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: $weight-bold;
    color: $color-dark;
    text-transform: capitalize;
    line-height: 30px;
    display: block;

    @include tablet {
      display: inline;
      font-size: 1.625rem;
      line-height: 45px;
    }

    @include desktop {
      font-size: 2rem;
    }
  }

  .go__button {
    width: 76px;
    height: 45px;
    border: 2px solid $color-tertiary;
    border-radius: 22.5px;
    color: $color-tertiary;
    background-color: $color-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 34px;
    font-size: 1.25rem;
    font-weight: $weight-medium;
    cursor: pointer;
    transition: background-color 2s ease, color 2s ease;

    @include tablet {
      width: 91px;
    }

    @include desktop {
      width: 160px;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-light;
    }
  }
}

.reasons {
  background-color: $color-secondary;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 45px;
  text-align: center;

  &__title {
    grid-column: span 2;
    text-transform: capitalize;
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: $weight-bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article {
    grid-column: span 2;
    display: grid;
    grid-auto-rows: minmax(30%, max-content);
  }

  .article--title {
    grid-row: 1;
    font-size: 1.5rem;
  }

  .article--text {
    grid-row: 2;
    line-height: 30px;
    font-size: 1.5rem;
    padding-left: 20%;
    padding-right: 20%;
  }

  &__button {
    grid-column: span 2;
    grid-row: 5;
    font-size: 1.125rem;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    color: $color-light;
    background-color: $color-tertiary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: $weight-medium;
    margin: auto;
    margin-bottom: 60px;
    cursor: pointer;
    transition: background-color 1s ease, color border 1s ease;
  }

  .reasons__button:hover {
    background-color: $color-primary;
    color: $color-light;
    border: 2px solid $color-primary;
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0;

    &__title {
      grid-column: span 6;
      grid-row: 1;
      flex-direction: row;
      align-items: center;
      font-size: 1.625rem;
      line-height: 45px;
    }

    .article {
      grid-column: span 2;
      display: grid;
      grid-auto-rows: minmax(30%, max-content);
    }

    .article--title {
      grid-row: 1;
      font-size: 1.5rem;
    }

    .article--text {
      grid-row: 2;
      font-size: 1.5rem;
    }

    &__button {
      grid-column: span 6;
      grid-row: 3;
      margin-top: 60px;
      margin-bottom: 60px;
      width: 210px;
    }
  }

  @include desktop {
    &__button {
      width: 255px;
    }
  }
}
